
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TodoMVC
    link(rel="stylesheet" href="todomvc-common/base.css")
    script(src="jquery/dist/jquery.js")
    script(src="app.js")

  body
    section(id="todoapp")
      header(id="header")
        h1 todos

        input(id="new-todo" placeholder="What needs to be done?" autofocus)

      section(id="main")
        input(id="toggle-all" type="checkbox" checked=(numActive == 0))
        label(for="toggle-all") Mark all as complete
        ul(id="todo-list")
          each curr in todoItems
            li(class=curr.completed ? 'completed' : '')
              div(class="view")
                input(class="toggle" type="checkbox" checked=curr.completed item_id=curr.id)
                label= curr.text
                button(class="destroy" item_id=curr.id)
              input(class="edit" value=curr.text)

      footer(id="footer")
        span(id="todo-count")
          strong= numActive
          |  item left
        ul(id="filters")
          li
            a(class=(byController =="todos" ? "selected" : "") href="/todos") All
          li
            a(class=(byController == "todos_active" ? "selected" : "") href="/todos_active") Active
          li
            a(class=(byController == "todos_completed" ? "selected" : "") href="/todos_completed") Completed
        if numCompleted > 0
          button(id="clear-completed")
            | Clear completed
            = ' (' + numCompleted + ')'

    footer(id="info")
      p Double-click to edit a todo
      p Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a>
      p Created by <a href="http://todomvc.com">you</a>
      p Part of <a href="http://todomvc.com">TodoMVC</a>

    script(src="todomvc-common/base.js")
    script(src="js/app.js")

