
doctype html
html(lang='en')
  head
    title Generic Table
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes")

    script(src="platform/platform.js")
    link(rel="import" href="font-roboto/roboto.html")
    link(rel="import" href="core-icon/core-icon.html")
    link(rel="import" href="paper-elements/paper-elements.html")
    link(rel="import" href="core-toolbar/core-toolbar.html")
    link(rel="import" href="core-scroll-header-panel/core-scroll-header-panel.html")

    style.
      body {
        font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
        margin: 0;
        padding: 24px;
      }

      core-toolbar {
        color: #f1f1f1;
        fill: #f1f1f1;
      }

      paper-fab {
        color: #fff;
        margin-right:2em;
      }

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script.
      $(document).ready(function() {
        var selected = null;
        $('.record').click(function() {
          selected = $(this).attr('id');
        });
        $('#post_button').click(function() {
          $.post('/todos', {}).success(function(data, code, ajx) {
            var id = data.id;
            window.location.assign('/todos/' + id);
          });
        });
        $('#destroy').click(function() {
          if (!selected) {
            return;
          }
          var id = selected;
          $.ajax({
            url: '/todos/' + id,
            type: 'DELETE'
          }).always(function() {
            window.location.reload();
          });
        });
      });

  body(unresolved)
    core-toolbar(class="tall" style="background: #3f51b5;")
      paper-icon-button(icon="menu")
      span(flex)= byController
      paper-icon-button(icon="refresh")
      paper-icon-button(icon="more-vert")
    div(class="content")
      table
        tr
          each key in tableHeader
            td= key
        each r in tableBody
          tr(id=r.id class="record")
            each curr in r.values
              if curr.key === '_id'
                td
                  a(href='/' + byController + '/' + curr.value)= curr.value
              else
                td= curr.value
      section(style='padding: 20px 0')
        paper-fab(id='post_button' mini icon="create")
        paper-fab(id='destroy' mini icon="clear")

