
doctype html
html(lang='en')
  head
    title Generic Table
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes")

    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet")
    link(href="/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet")
    link(href="/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet")
    link(rel="import" href="font-roboto/roboto.html")

    style.
      body {
        font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
        margin: 0;
        padding: 24px;
      }


    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script.
      $(document).ready(function() {
        var selected = {};
        $('.record').click(function() {
          var e = $(this);
          var isSelected = e.toggleClass('info').hasClass('info');
          selected[e.attr('id')] = isSelected;
        });
        $('#post_button').click(function() {
          $.post('/todos', {}).success(function(data, code, ajx) {
            var id = data.id;
            window.location.assign('/todos/' + id);
          });
        });
        $('#destroy').click(function() {
          var ids = Object.keys(selected).filter(function(k) { return selected[k] });
          var left = ids.length;
          if (left === 0) {
            return;
          }

          ids.forEach(function(id) {
            $.ajax({
              url: '/todos/' + id,
              type: 'DELETE'
            }).always(function() {
              selected[ids] = false;
              $('#' + id).remove();
              --left;
              if (left === 0) {
                window.location.reload();
              }
            });
          });
        });
      });

  body(unresolved)
    div(class="well")
      div(class="panel panel-primary")
        div(class="panel-heading")
            h3(class="panel-title")= byController
        div(class="panel-body")
          table(class="table table-striped table-hover")
            thead
              each key in tableHeader
                th= key
            each r in tableBody
              tr(id=r.id class="record")
                each curr in r.values
                  if curr.key === '_id'
                    td
                      a(href='/' + byController + '/' + curr.value)= curr.value
                  else
                    td= curr.value


      div(id='post_button' class="btn btn-primary btn-fab btn-raised mdi-content-create")
      div(id='destroy' class="btn btn-danger btn-fab btn-raised mdi-content-remove")

