
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes")

    script(src="/platform/platform.js")
    link(rel="import" href="/font-roboto/roboto.html")
    link(rel="import" href="/core-icon/core-icon.html")
    link(rel="import" href="/paper-elements/paper-elements.html")
    link(rel="import" href="/core-toolbar/core-toolbar.html")
    link(rel="import" href="/core-scroll-header-panel/core-scroll-header-panel.html")
    link(rel="import" href="/paper-checkbox/paper-checkbox.html")

    title= 'Item ' + id

    style(shim-shadowdom).
      body {
        font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
        font-size: 14px;
        margin: 0;
        padding: 24px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
      }

      paper-checkbox {
        padding: 20px 20px 20px 0;
      }

      section {
        width: 800px;
        padding: 20px 0;
      }

      section > div {
        padding: 14px;
        font-size: 16px;
      }


      paper-checkbox.blue::shadow #ink[checked] {
        color: #4285f4;
      }

      paper-checkbox.blue::shadow #checkbox.checked {
        border-color: #4285f4;
      }

      paper-button.colored {
        color: #4285f4;
      }

      paper-button[raised].colored {
        background: #4285f4;
        color: #fff;
      }

      paper-button.custom > core-icon {
        margin-right: 4px;
      }

      paper-button.hover:hover {
        background: #eee;
      }

      paper-button.blue-ripple::shadow #ripple {
        color: #4285f4;
      }

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script.
      $(document).ready(function() {
        function putJson(path, data) {
          $.ajax({
            url: path,
            type: 'PUT',
            contentType : 'application/json',
            processData: false,
            data: JSON.stringify(data),
          }).always(function() {
            window.location.reload();
          });
        }

        function inp(k) {
          return $('#input_' + k);
        }

        $('#ok_button').click(function() {
          var id = inp('_id').val();
          var data = {
            text: inp('text').val(),
            completed: inp('completed').prop('checked')
          };
          putJson('/todos/' + id, data);
        });
      });

  body(unresolved)
    section
      each curr in payload
        if curr.type == 'fixed'
          paper-input(id='input_' + curr.key floatingLabel disabled label=curr.key value=curr.value)
        else if curr.type == 'bool'
          div(horizontal layout)
            paper-checkbox(id='input_' + curr.key class="blue" checked=curr.value)
            h4= curr.key
        else
          paper-input(id='input_' + curr.key floatingLabel multiline label=curr.key value=curr.value)
    section
      paper-button(id="ok_button" class="colored custom")
        core-icon(icon="check")
        span ok



