
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes")

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')

    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet")
    link(href="/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet")
    link(href="/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet")

    link(href="/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet")
    script(src="/bootstrap-datepicker/js/bootstrap-datepicker.js")

    link(rel="import" href="/font-roboto/roboto.html")
    title= 'ELEMENT: ' + id

    style(shim-shadowdom).
      body {
        font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
        font-size: 14px;
        margin: 0;
        padding: 24px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
      }

    script.
      $(document).ready(function() {
        $('.datepicker').each(function(i, e) {
          e = $(e);
          e.datepicker('setDate', new Date(e.attr('value')));
        });
        var serverPayload = !{JSON.stringify(payload)};
        var collectionController = !{JSON.stringify(collectionController)};
        var servedId = !{JSON.stringify(id)};
        function putJson(path, data) {
          $.ajax({
            url: path,
            type: 'PUT',
            contentType : 'application/json',
            processData: false,
            data: JSON.stringify(data),
          }).always(function() {
            window.location.assign('/' + collectionController + '.html');
          });
        }

        function inp(k) {
          return $('#input_' + k);
        }

        $('#ok_button').click(function() {
          var putData = {};
          serverPayload.forEach(function(curr) {
            var e = inp(curr.key);
            var v;
            if (curr.type == 'bool')
              v = e.prop('checked');
            else if (curr.type == 'DATE')
              v = e.datepicker('getDate').toJSON();
            else
              v = e.val();
            putData[curr.key] = v;
          });
          putJson('/' + collectionController + '/' + servedId, putData);
        });
      });

  body(unresolved)
    form(class="well form-horizontal")
      fieldset
        legend
          div(class="panel panel-primary")
              div(class="panel-heading")= id
          each curr in payload
            if curr.type == 'fixed'
            else
              div(class="form-group")
                label(for='input_' + curr.key class="col-lg-2 control-label")= curr.key
                div(class="col-lg-10")
                  if (curr.type == 'bool')
                    input(type="checkbox" id='input_' + curr.key checked=curr.value)
                  else if (curr.type == 'DATE')
                    input(id='input_' + curr.key class="datepicker form-control" value=curr.value)
                  else
                    input(type="text" class="form-control" id='input_' + curr.key value=curr.value)= curr.value
      div(id='ok_button' class="btn btn-primary btn-fab btn-raised mdi-content-save")



